/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #add8e6;
  font-family: 'Nerko One', cursive;
}

/* parte di header */
header>h1{
  color: #fff;
  font-size: 80px;
  text-shadow: 2px 0 2px #add8e6, 0 2px 2px #000;
  margin-top: 2%;
  text-align: center;
}

/* parte centrale */
.container{
  width: 794px;
  height: 697px;
  margin: 0 auto;
  margin-bottom: 3%;
}

.card{
  width: 180px;
  height: 208px;
  display: inline-block;
  border-radius: 13px;
  box-shadow: 2px 2px 1px lightgrey;
  margin-top: 3%;
  position: relative;
  background-size: contain;
  background-color: #fff;
}

.hidden{
  background-image: url("../img/pattern.png");
  background-size: contain;
}

.left{
  margin-left: 15px;
}

.imgcard,.foto.visible{
  width: 140px;
  height: 160px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 25px;
}

.textimg,.testo.visible{
  font-size: 30px;
  text-align: center;
  line-height: 365px;
  color: #e61986;
  text-shadow: 2px 0 2px #add8e6, 0 2px 2px #000;
}

.stillimage{
  opacity: 0;
}

.stillimage:hover{
  opacity: inherit;
}

.hidden:hover{
  background-image: none;
}

/* parte footer */
footer>span{
  display: block;
  font-size: 20px;
  margin-bottom: 2%;
  text-align: center;
}
