/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #add8e6;
  font-family: 'Nerko One', cursive;
}

/* parte di header */
header>h1{
  color: #fff;
  font-size: 80px;
  text-shadow: 2px 0 2px #add8e6, 0 2px 2px #000;
  margin-top: 2%;
  text-align: center;
}

/* parte centrale */
.container{
  width: 793px;
  height: 697px;
  margin: 0 auto;
  margin-top: 4%;
}

.row{
  position: relative;
}

.second, .third{
  margin-top: 30px;
}

.card{
  width: 180px;
  height: 208px;
  display: inline-block;
  border-radius: 13px;
  box-shadow: 2px 2px 1px lightgrey;
  position: relative;
  background-color: #fff;
}

.imgcard{
  width: 140px;
  height: 160px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 25px;
}

.textimg{
  font-size: 30px;
  text-align: center;
  line-height: 365px;
  color: #e61986;
  text-shadow: 2px 0 2px #add8e6, 0 2px 2px #000;
}

.two{
  position: absolute;
  top: 0;
  left: 204px;
}

.three{
  position: absolute;
  top: 0;
  right: 204px;
}

.four{
  position: absolute;
  top: 0;
  right: 0;
}
